<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsApp2.Properties.Settings.dbqueue" connectionString="Data Source=DESKTOP-TD8UC8F;Initial Catalog=dbqueue;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="WindowsFormsApp2.Properties.Settings.dbqueueConnectionString"
            connectionString="Data Source=DESKTOP-TD8UC8F;Initial Catalog=dbqueue;Integrated Security=True;Encrypt=False;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="WindowsFormsApp2.Properties.Settings.waayo69_Clients"
            connectionString="Data Source=sql.bsite.net\MSSQL2016;Initial Catalog=waayo69_Clients;Persist Security Info=True;User ID=waayo69_Clients;Password=kris123asd;Encrypt=False;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>